* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}
header {
    background: #fff;
    color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.details-span .clickable-detail {
    cursor: pointer;
}
.selected-row {
    background-color: #4b434b; /* 원하는 색상으로 변경 */
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 30px;
}
.menu {
    display: flex;
    align-items: center;
    position: relative;
}
.menu > a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}
.dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    background: #e0e0e0;
}
.menu:hover .dropdown {
    display: flex;
}
.login {
    display: flex;
    align-items: center;
}
.login button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}
.login button:hover {
    background-color: #0056b3;
}
.macro-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.macro-button {
    flex: 0 0 5%; /* 절반 크기 설정 */
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
}
.text-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1; /* 나머지 공간 차지 */
}
.text-box {
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
    flex: 1;
    text-align: center;
    min-width: 100px; /* 최소 너비 설정 */
}
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
.Display {
    display: flex;
    height: 20vh;
    padding: 20px;
    background: #fff;
    color: #333;
    overflow: hidden;
    border: 1px solid #ccc;
    white-space: pre-wrap;
}
.main-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow-x: hidden;
    position: relative;
}
.input-container {
    background: #f9f9f9;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    flex: 0 0 20%; /* 너비를 20%로 설정 */
}
.content-container {
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1;
    min-width: 300px; /* 최소 너비 조정 */
}
.content {
    background: #fff;
    padding: 20px;
    display: flex;
    gap: 10px;
    overflow-x: hidden;
    flex-wrap: nowrap; /* 줄바꿈 없음 */
}
.content-title {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.title-text {
    background-color: #17a2b8;
    color: white;
    padding: 6px 6px;
    border-radius: 4px;
    margin-right: auto;
    margin-bottom: 0;
}
.hidden {
    display: none !important;
}
.content-title .content-button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
}
.content-title .content-button:hover {
    background-color: #0d6efd;
    color: white;
    border-radius: 4px;
}
.button-group {
    display: flex;
    gap: 5px;
}
.content div {
    background: #fff;
    padding: 0;
    flex: 1;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    height: 40vh;
    overflow-y: auto;
}
.table1-container, .table2-container {
    max-height: 800px;
    max-width: 1000px;
    overflow-y: auto;
    overflow-x: auto;
    position: relative; /* 부모 요소에 위치 속성 추가 */
}
.table1 thead, .table2 thead {
    position: sticky;
    top: 0;
    background: #e0e0e0; /* 테이블 헤더 배경색 */
    z-index: 1;
}
table {
    margin-top: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-collapse: separate;
}
/* 기존 스타일 정의 */
.table1 th, .table1 td, .table2 th, .table2 td {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
/* 숨길 컬럼에 대한 스타일 추가 */
.hide-column {
    display: none;
}
.clickable {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}
.clickable:hover {
    color: #0056b3;
}
.content-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.content-input .button-group {
    display: flex;
    gap: 5px;
}
.content-input button {
    padding: 10px 20px; /* 버튼의 크기를 늘림 */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}
.content-input button:hover {
    background-color: #0056b3;
}
.macro-input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.macro-input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 11px;
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
}
.macro-input-group input[type="number"] {
    flex: 0 0 60px; /* 수량 input의 크기를 줄임 */
}
.macro-button2 {
    gap: 5px;
    margin-top: 5px;
    padding: 10px; /* 버튼의 크기를 늘림 */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    justify-content: flex-end;
}
.macro-button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Add some space between the buttons if needed */
}
#addDisplayContentButton {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    transition: background-color 0.3s;
}
#addDisplayContentButton:hover {
    background-color: #0056b3;
}
.input-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;
}
.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 11px;
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
}
.input-group input[type="number"] {
    flex: 0 0 60px; /* 수량 input의 크기를 줄임 */
}
.input-group button {
    padding: 10px 15px; /* 버튼의 크기를 늘림 */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}
.form-container {
    padding: 5px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    transition: all 0.3s ease; /* Smooth transition */
}
.info-container{
    padding: 5px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    transition: all 0.3s ease; /* Smooth transition */
}
.checkbox-container {
    display: block;
    margin-top: 10px; /* 버튼과 체크박스 사이에 여백 추가 */
}
.hidden {
    display: none !important;
}
.macroinfo-container {
    display: flex;
    align-items: center;
}
.button-checkbox-container {
    display: flex;
    flex-direction: column; /* 요소를 세로로 정렬 */
    gap: 10px; /* 버튼과 체크박스 사이의 간격 */
    align-items: center; /* 버튼과 체크박스를 가운데 정렬 */
    width: 100px; /* 컨테이너의 너비를 줄임 */
}

.Info-EA, .Info-HB{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto; /* 18개의 컬럼 */
    gap: 10px; /* 요소 사이의 간격 */
    overflow-x: auto; /* 가로 스크롤 추가 */
}

.macroinfo-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-right: 10px; /* 버튼 간 간격 조정 */
}

.image-row {
    display: contents; /* 각 행을 개별적으로 처리 */
}


.separator-text {
    font-weight: bold;
    text-align: center;
    font-size : 10px;
    writing-mode: vertical-rl; /* 세로 쓰기 모드 */
    text-orientation: upright; /* 텍스트의 방향을 올바르게 설정 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.macro-svg {
    width: 60px; /* 이미지 너비 */
    height: 60px; /* 이미지 높이 */
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: transform 0.3s;
    text-align: center;
}

.macro-svg img {
    max-width: 100%;
    max-height: 100%;
}

.macro-svg img:hover {
    transform: scale(1.05);
}
.macro-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.macro-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
}
.text-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
}
.text-box {
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
    flex: 1;
    text-align: center;
    min-width: 100px;
    transition: all 0.3s ease;
}
.resizable-bar {
    width: 10px;
    cursor: pointer;
    background-color: #ccc;
    position: relative;
    z-index: 1;
    display: none; /* 기본적으로 숨김 */
}
.macro_popup_name { width: 28px; font-size: 10px; margin-top: 3px; padding: 2px 6px; background-color: #EAEAEA; }

.macro_popup_left { float: left; width: 64px; height: 64px; margin-left: 10px; position: relative; cursor: pointer; }
.macro_popup_center { float: left; width: 52px; height: 52px; margin-left: 10px; position: relative; cursor: pointer; }
.macro_popup_right { float: right; width: 64px; height: 64px; margin-right: 10px; position: relative; cursor: pointer; }

.macro_popup_left_EA { float: left; width: 67px; height: 67px; margin-left: 10px; position: relative; cursor: pointer; }
.macro_popup_center_EA { float: left; width: 58px; height: 58px; margin-left: 10px; position: relative; cursor: pointer; }
.macro_popup_right_EA { float: right; width: 67px; height: 67px; margin-left: 10px; position: relative; cursor: pointer; }

.macro_popup_LU { position: absolute; left: 36px; top: 46px; }
.macro_popup_CU { position: absolute; left: 8px; top: 46px; }
.macro_popup_RU { position: absolute; left: 2px; top: 46px; }

.macro_popup_CC { position: absolute; left: 8px; top: 46px; }

.macro_popup_LD { position: absolute; left: 36px; top: 5px; }
.macro_popup_CD { position: absolute; left: 8px; top: 5px; }
.macro_popup_RD { position: absolute; left: 2px; top: 5px; }
#selectedImageContainer {
    position: absolute;
    left: 30px;
    top: 30px;
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }
    .input-container {
        flex: 1 1 100%;
    }
    .content-container {
        flex: 1 1 100%;
    }
    .content div {
        flex: 1 1 100%;
    }
    .collapsed {
        display: none;
    }
    .expandable {
        cursor: pointer;
    }
    .form-container {
        padding: 5px;
        font-size: 14px;
        margin: 5px; /* Adjust margin for mobile */
    }
    .info-container{
        padding: 5px;
        font-size: 14px;
        margin: 5px; /* Adjust margin for mobile */
    }
    .Info-EA, .Info-HB{
        padding: 5px;
        font-size: 14px;
        margin: 5px;

    }
    .macro-group {
        flex-direction: column;
        gap: 5px;
    }
    .macro-button {
        padding: 8px 12px;
        font-size: 12px; /* Reduce font size */
    }
    .text-group {
        gap: 5px;
    }
    .text-box {
        padding: 8px 12px;
        font-size: 12px; /* Reduce font size */
        margin: 2px;
        min-width: 80px; /* Reduce minimum width */
    }
    .input-group input,
    .input-group button {
        font-size: 12px; /* 작은 화면에서의 폰트 크기 */
        padding: 8px;
        font-size: 12px; /* Reduce font size */
    }
    .input-group {
        flex-wrap: wrap;
        gap: 5px;
    }
    .resizable-bar {
        display: block; /* 모바일에서 보임 */
        width: 100%;
        height: 10px;
        cursor: pointer;
    }
    .drawing-info {
        display: none; /* Hide drawing-info on mobile */
    }

}