* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}
header {
    background: #fff;
    color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.details-span .clickable-detail {
    cursor: pointer;
}
.selected-row {
    background-color: #4b434b; /* 원하는 색상으로 변경 */
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 30px;
}
.menu {
    display: flex;
    align-items: center;
    position: relative;
}
.menu > a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}
.dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    background: #e0e0e0;
}
.menu:hover .dropdown {
    display: flex;
}
.login {
    display: flex;
    align-items: center;
}
.login button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}
.login button:hover {
    background-color: #0056b3;
}
.container {
    display: flex;
    
    flex-direction: column;
    flex: 1;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
.Display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}
canvas {
    width: 100%;
    height: 150px;
    background : #fff;
    border: 1px solid #ccc;
}
.main-content {
    display: flex;
    width : 80%;
    justify-content: center;
    flex-direction: row;
    flex: 1;
    overflow-x: hidden;
    position: relative;
    transform: translate(10%, 0%);
}
.input-container {
    background: #f9f9f9;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    flex: 0 0 20%; /* 너비를 20%로 설정 */
}
.content-container {
    background: #fff;
    padding: 20px;
    justify-content: center; /* 내부 콘텐츠 중앙 정렬 */
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1;
    min-width: 300px; /* 최소 너비 조정 */
}
.content {
    background: #fff;
    padding: 20px;
    display: flex;
    gap: 10px;
    overflow-x: hidden;
    flex-wrap: nowrap; /* 줄바꿈 없음 */
}
.content-title {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.title-text {
    background-color: #17a2b8;
    color: white;
    padding: 6px 6px;
    border-radius: 4px;
    margin-right: auto;
    margin-bottom: 0;
}
.hidden {
    display: none !important;
}
.content-title .content-button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 10px;
    padding: 2px 7px;
}
.content-title .content-button:hover {
    background-color: #0d6efd;
    color: white;
    border-radius: 4px;
}
.button-group {
    display: flex;
    gap: 5px;
}
.content div {
    background: #fff;
    padding: 0;
    flex: 1;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    height: 40vh;
    overflow-y: auto;
}


.table1-container, .table2-container {
    max-height: 370px;
    max-width: 1000px;
    overflow-y: auto;
    overflow-x: auto;
    position: relative; /* 부모 요소에 위치 속성 추가 */
}


table {
    margin-top: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-collapse: separate;
}

/* 기존 스타일 정의 */
.table1 th, .table1 td, .table2 th, .table2 td {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    font-size: 10px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 링크 색상을 기본 텍스트 색상으로 설정 */
    cursor: pointer; /* 클릭할 수 있는 포인터 커서 */
}
.table1 tbody tr:hover td {
    background-color: #f1f1f1 !important; /* 마우스를 올렸을 때 배경색 변경 */
    color: inherit !important; /* 텍스트 색상 유지 */
}
.table2 tbody tr:hover td {
    background-color: #f1f1f1 !important; /* 마우스를 올렸을 때 배경색 변경 */
    color: inherit !important; /* 텍스트 색상 유지 */
}

.table1 tbody tr.selected-row td {
    background-color: #2B9EB0 !important; /* 진한 회색 배경색 */
    color: #ffffff !important; /* 하얀색 텍스트 */
}
.table2 tbody tr.selected-row td {
    background-color: #2B9EB0 !important; /* 진한 회색 배경색 */
    color: #ffffff !important; /* 하얀색 텍스트 */
}

/* 숨길 컬럼에 대한 스타일 추가 */
.hide-column {
    display: none;
}

.content-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.content-input .button-group {
    display: flex;
    gap: 5px;
}
.content-input button {
    padding: 10px 20px; /* 버튼의 크기를 늘림 */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}
.content-input button:hover {
    background-color: #0056b3;
}
.macro-input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.macro-input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 9px;
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
}
.macro-input-group input[type="number"] {
    flex: 0 0 60px; /* 수량 input의 크기를 줄임 */
}
.macro-button2 {
    gap: 5px;
    margin-top: 5px;
    padding: 5px; /* 버튼의 크기를 늘림 */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s;
    justify-content: flex-end;
}
.macro-button-group {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 세로로 중앙 정렬 */
    gap: 10px; /* 필요에 따라 간격 추가 */
}

.macro-button-group-left {
    flex: 1;
}

.macro-button-group-right {
    display: flex;
    gap: 10px; /* 버튼 사이 간격 */
}
#addDisplayContentButton {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    transition: background-color 0.3s;
}
#addDisplayContentButton:hover {
    background-color: #0056b3;
}
.input-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;
}
.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 9px;
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
}
.input-group input[type="number"] {
    flex: 0 0 60px; /* 수량 input의 크기를 줄임 */
}
.input-group button {
    padding: 5px 10px; /* 버튼의 크기를 늘림 */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s;
}
.form-container {
    padding: 3px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    transition: all 0.3s ease; /* Smooth transition */
}
.content-container h5 {
    padding: 3px;
    text-align: left;
}
.checkbox-container {
    display: block;
    margin-top: 10px; /* 버튼과 체크박스 사이에 여백 추가 */
}
.hidden {
    display: none !important;
}
.macroinfo-container {
    display: flex;
    align-items: center;
}
.button-checkbox-container {
    display: flex;
    flex-direction: column; /* 요소를 세로로 정렬 */
    gap: 10px; /* 버튼과 체크박스 사이의 간격 */
    align-items: center; /* 버튼과 체크박스를 가운데 정렬 */
    width: 100px; /* 컨테이너의 너비를 줄임 */
}

.Info-EA, .Info-HB, .Info-CH, .Info-PI, .Info-IB, .Info-UA, .Info-SP{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto; /* 18개의 컬럼 */
    gap: 10px; /* 요소 사이의 간격 */
    height: 150px; /* 필요한 높이로 조정하세요 */
    overflow-y: auto; /* 세로 스크롤 */
    overflow-x: auto; /* 가로 스크롤 숨김 */
    padding: 10px;
}

.macroinfo-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-right: 10px; /* 버튼 간 간격 조정 */
}

.image-row {
    display: contents; /* 각 행을 개별적으로 처리 */
}
.image-container{
    position: absolute; 
    left: 10px; 
    op: 10px; 
    display: none; 
    z-index: 1000;
}
.image-label-left {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateX(-50%);
    padding: 2px 5px;
    font-size: 7px;
    color: #000;
    z-index: 1;
    margin-top: 5px; /* 추가 마진 */
}
.image-label-mid {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translateX(-50%);
    padding: 2px 5px;
    font-size: 7px;
    color: #000;
    z-index: 1;
    margin-top: 5px; /* 추가 마진 */
}
.image-label-right {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateX(-50%);
    padding: 2px 5px;
    font-size: 7px;
    color: #000;
    z-index: 1;
    margin-top: 5px; /* 추가 마진 */
}
.image-label-right-down {
    position: absolute;
    top: -10%;
    left: 30%;
    transform: translateX(-50%);
    padding: 2px 5px;
    font-size: 7px;
    color: #000;
    z-index: 1;
    margin-top: 5px;
} 
.image-label-left-down {
    position: absolute;
    top: -10%;
    left: 70%;
    transform: translateX(-50%);
    padding: 2px 5px;
    font-size: 7px;
    color: #000;
    z-index: 1;
    margin-top: 5px;
}
.image-label-mid-down {
    position: absolute;
    top: -10%;
    left: 60%;
    transform: translateX(-50%);
    padding: 2px 5px;
    font-size: 7px;
    color: #000;
    z-index: 1;
    margin-top: 5px;
}  
.separator-text {
    font-weight: bold;
    text-align: center;
    font-size: 10px;
    writing-mode: vertical-rl; /* 세로 쓰기 모드 */
    text-orientation: upright; /* 텍스트의 방향을 올바르게 설정 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.macro-svg {
    position: relative; /* 텍스트를 겹치기 위해 추가 */
    width: 60px; /* 이미지 너비 */
    height: 50px; /* 이미지 높이 */
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: transform 0.3s;
    text-align: center;
}

.macro-svg img {
    max-width: 100%;
    max-height: 100%;
}

.macro-svg img:hover {
    transform: scale(1.05);
}
.blank-svg {
    position: relative; /* 텍스트를 겹치기 위해 추가 */
    width: 60px; /* 이미지 너비 */
    height: 50px; /* 이미지 높이 */
    transition: transform 0.3s;
    text-align: center;
}
.blank-svg img {
    max-width: 100%;
    max-height: 100%;
}
.macro-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: calc(100% - 40px);
}
.macro-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    
}
.info-container {
    padding: 5px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    transition: all 0.3s ease; /* 부드러운 전환 */
    height: 8%; /* 원하는 높이로 설정 */
}

.text-box {
    display: flex;
    align-items: center;
    margin: 5px 0;
    text-align: center;
    flex: 1;
}

.text-content {
    line-height: 20px;
    background-color: #e9ecef;
    height: 20px;
    font-size: 10px;
    border: solid 1px #959495;
    border-radius: 5px 0 0 5px;
    text-align: center;
    padding: 0 10px; /* 텍스트 좌우 여백 */
    box-sizing: border-box;
    display: inline-block;
}

.text-space {
    line-height: 20px;
    flex: 1; /* 가변적인 너비 설정 */
    height: 20px;
    font-size: 10px;
    border: solid 1px #959495;
    margin: 0 -1px 0 0;
    text-align: center;
    background-color: #ffffff;
    border-radius: 0 5px 5px 0;
    padding: 0 5px;
    box-sizing: border-box;
}

.text-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
}
.resizable-bar {
    width: 10px;
    cursor: pointer;
    background-color: #ccc;
    position: relative;
    z-index: 1;
    display: none; /* 기본적으로 숨김 */
}

#selectedImageContainer {
    position: absolute;
    left: 30px;
    top: 30px;
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.Display {
    display: flex;
    align-items: stretch; /* 텍스트 컨테이너와 캔버스를 세로로 정렬 */
    overflow-x: auto;
}

.canvas-text-EA, .canvas-text-CH, .canvas-text-HB, .canvas-text-PI, .canvas-text-IB, .canvas-text-UA,.canvas-text-SP {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px; /* 텍스트 컨테이너와 캔버스 사이의 공간 추가 */
    height: 100%; /* 부모 컨테이너의 높이에 맞춤 */
    font-size : 10px;
}

.canvas-text-box-EA, .canvas-text-box-CH, .canvas-text-box-HB, .canvas-text-box-PI, .canvas-text-box-IB, .canvas-text-box-UA,.canvas-text-box-SP  {
    background-color: #d3d3d3; /* 원하는 배경색 */
    border-radius: 0; /* 각지게 변경 */
    box-shadow: none; /* 그림자 제거 */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* 텍스트 박스의 최소 너비 */
    height: 40px; /* 원하는 높이 설정 */
    box-sizing: border-box;
    border: 1px solid #959495; /* 테두리 추가 */
    margin: 5px 0; /* 상하 여백 추가 */
}


.canvas-container {
    overflow-x: auto; /* 가로 스크롤바 추가 */
    overflow-y: hidden; /* 세로 스크롤바 제거 */
    width: 100%; /* 부모 요소의 너비를 차지 */
    height: 200px; /* 캔버스의 높이를 유지 */
}
tr.clickable {
    cursor: pointer; /* 행에 커서가 있을 때 포인터 표시 */
}

tr.clickable:hover {
    background-color: #f1f1f1; /* 행에 마우스를 올렸을 때 배경색 */
}

tr.selected-row {
    background-color: #d1e7dd; /* 선택된 행의 배경색 */
}

@media (max-width: 768px) {
    .text-content {
        font-size: 12px; /* 모바일 화면에서 폰트 크기 조정 */
        line-height: 25px; /* 모바일 화면에서 라인 높이 조정 */
        padding: 0 0px; /* 모바일 화면에서 텍스트 좌우 여백 조정 */
    }
    #myCanvas {
        width: 100%;
        height: auto;
    }
    .main-content {
        width : 100%;
        flex-direction: column;
    }
    .input-container {
        flex: 1 1 100%;
    }
    .content-container {
        flex: 1 1 100%;
    }
    .content div {
        flex: 1 1 100%;
    }
    .collapsed {
        display: none;
    }
    .expandable {
        cursor: pointer;
    }
    .form-container {
        padding: 5px;
        font-size: 14px;
        margin: 5px; /* Adjust margin for mobile */
    }
    .info-container{
        padding: 5px;
        font-size: 14px;
        margin: 5px; /* Adjust margin for mobile */
    }
    .Info-EA, .Info-HB, .Info-CH,.Info-PI, .Info-IB, .Info-UA, .Info-SP{
        padding: 5px;
        font-size: 14px;
        margin: 5px;

    }
    .macro-group {
        flex-direction: column;
        gap: 5px;
    }
    .macro-button {
        padding: 8px 12px;
        font-size: 12px; /* Reduce font size */
    }
    .text-group {
        gap: 5px;
    }
    .input-group input,
    .input-group button {
        font-size: 12px; /* 작은 화면에서의 폰트 크기 */
        padding: 8px;
        font-size: 12px; /* Reduce font size */
    }
    .input-group {
        flex-wrap: wrap;
        gap: 5px;
    }
    .resizable-bar {
        display: block; /* 모바일에서 보임 */
        width: 100%;
        height: 10px;
        cursor: pointer;
    }
    .drawing-info {
        display: none; /* Hide drawing-info on mobile */
    }

}